<p>No cached results could be found and the request queue is not running.</p>
<p>Please restart the request queue via command or cronjob.</p>
<br>

<h3>Cronjob</h3>
<br>
<p class="explanation">Navigate to the table <span class="agonyz-page-speed-insights-highlight">tl_cron_job</span> and delete the entry with the name <span class="agonyz-page-speed-insights-highlight">Agonyz\ContaoPageSpeedInsightsBundle\Cron\PageSpeedInsightsCron</span></p>

<h3>Command</h3>
<pre>
    <code class="agonyz-code">php vendor/bin/contao-console agonyz-page-speed-insights:request</code>
</pre>



